.ProductPage {

}

.ProductHero {
    min-height: 20vh;
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ProductHero>.hero-body>.container>.columns>.column>.media {
    align-items:center;
}

.ProductHero>.hero-body>.container>.columns>.column {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ProductHero-Icon {
    padding-right: 30px;
}

.ProductHero-Icon>img {
    max-width: 20vh;
    max-height: 20vh;
    border-radius: 8px;
}

.ProductHero-Stats>.level>.level-item {
    flex-direction: column;
}