@import '~bulma/sass/utilities/initial-variables.sass';


// Set your brand colors
$brand: #47E0A0;
$brandSecondary: #53AF87;

// Update Bulma's global variables
$primary: $brandSecondary;
$link: $brandSecondary;

@import '~bulma/bulma.sass';
@import '~bulma-badge/dist/css/bulma-badge.min.css';
@import '~bulma-quickview/dist/css/bulma-quickview.min.css';
@import '~bulma-timeline/dist/css/bulma-timeline.min.css';
@import '~bulma-divider/dist/css/bulma-divider.min.css';
@import '~react-tippy/dist/tippy.css';

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');

@import './app.scss';