
.CardFooter {
    color: gray;
    margin-top: 10px;
}

.CardFooter  > .columns {
    margin-bottom: 0px;
}
.CardFooter .column.branded {
    letter-spacing: 1px;
    font-size: 15px;
    flex: 1;
}

.CardFooter .column.branded p {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.CardFooter .column.branded img {
    padding: 5px;
    height: 30px;
}

.CardFooter .column.copy {
    flex: 2;
    font-size: 13px;
}

.CardFooter .column.copy > p {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}


.CardFooter small {
    font-size: 10px;
}

.CardFooter strong {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0;
    line-height: 3px;
}

.CardFooter ul {
    word-wrap: break-word;
    text-align: center;
}

.CardFooter ul li {
    font-size: 15px;
    display: inline-block;
    margin-right: 4px;
    margin-left: 4px;
}

.CardFooter ul li > a {
    display: inline-block;
}

.CardFooter .column.menu {
    text-align: right;
}

.CardFooter .column.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end
}


.CardFooter div {
}

.CardFooter #footer-light {
    color: lightgray;
}
.CardFooter img {
    width: 50px;
}

.CardFooter a .icon {
    text-decoration: none !important;
}
