.UserPage {

}

.UserPage > .hero {
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.UserPage > .hero .js-acrylic {
    position: absolute;
    width: 100%;
    bottom: 50%;
}

.UserPage > .hero > .stats-container .level {
    width: 100%;
}

.UserPage > .hero > .stats-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 90px;
    max-height: 10vh;
    display: flex;
    align-items: center;
    position: relative;
    text-align: left;

}

.blur-container {
    position: absolute;
    z-index: 0;
    bottom: 0;
    width: 100%;
    min-height: 90px;
    max-height: 10vh;
    background: inherit;
    overflow: hidden;
}

.blur {
    width: 100%;
    min-height: 90px;
    max-height: 10vh;
    background: inherit;
    filter: blur(8px) saturate(2);
    box-shadow: inset 0 0 0 200px rgba(0,0,0,0.5);
    transform: scale(1.3)
}

.user-box {
    padding: 30px;
    -webkit-box-shadow: 0px 2px 92px -22px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 92px -22px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 92px -22px rgba(0,0,0,0.75);
}

.user-box .bio {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

.user-box .bio a {
    color: #3273dc !important;
}

.column.user-card-container {
    z-index: 1;
}

.gradient-avatar {
    padding: 10px;
    border-radius: 50%;
    display: inline-block;
    background: rgb(71,224,160);
    background: -moz-linear-gradient(4deg, rgba(71,224,160,1) 0%, rgba(255,255,255,1) 83%);
    background: -webkit-linear-gradient(4deg, rgba(71,224,160,1) 0%, rgba(255,255,255,1) 83%);
    background: linear-gradient(4deg, rgba(71,224,160,1) 0%, rgba(255,255,255,1) 83%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#47e0a0",endColorstr="#ffffff",GradientType=1);
}

.gradient-avatar img {
    border-radius: 50%;
}

.stats-bar {
    padding: 10px;

    display: flex;
    align-items: center;
}

.UserPage .cta {
    text-align: center;
}

.UserPage .cta .button {
    border-color: #47E0A0 !important;
    color: white;
    background-color: #47E0A0 !important;
}

.card-column {
    margin-top: 150px;
}

.social-count {
    padding: 10px;
    text-align: center;
}

.social-count .icon {
    margin: 2px;
}

.social-count:hover {
}

.social-count a .icon {
    display: inline-block;
}

.social-count.twitter {
    color: #1DA1F2;
}

.social-count.github {
    color: black;
}

.social-count.instagram {
    color: #8a3ab9;
}

.social-count.product_hunt {
    color: #f07810;
}

.social-count > .icon {
}

.social-count > .count {
    margin-left: auto;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.hero .container {
    width: 100%;
}

.user-box-container {
    top: -50%;
}

.stream-column {
    margin-top: 30px;
}

.ProfileBarStats > .level-item {
    display: block !important;
}