.LoginPage {
    height: 100vh;
    background: rgb(103,178,111);
    background: linear-gradient(63deg, rgba(103,178,111,1) 0%, rgba(17,153,142,1) 100%);
}

.LoginPage .columns {
    height: 100vh;
}

.LoginPage .form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}