.ExplorePage {

}

.UserHero {
    min-height: 20vh;
    background: #67B26F;  /* fallback for old browsers */
    background: #16A085;  /* fallback for old browsers */
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.UserHero>.columns>.UserHero-content {
    
}

.UserHero>.hero-body>.container>.columns>.column>.media {
    align-items:center;
}

.UserHero>.hero-body>.container>.columns>.column {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.UserHero-Avatar {
    padding-right: 30px;
}

.UserHero-Avatar>img {
    max-width: 20vh;
    max-height: 20vh;
    border: 5px solid white;
    border-radius: 50%;
}

.UserHero-Stats>.level>.level-item {
    flex-direction: column;
}